* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightgray;
  font-size: 1rem;
  padding-left: 1rem;
  color: black;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.status-color-tag-active {
  height: 100%;
  width: 10%;
  background-color: cornflowerblue;
}

.status-color-tag-completed {
  height: 100%;
  width: 10%;
  background-color: lightgreen;
}

.status-color-tag-new {
  height: 100%;
  width: 10%;
  background-color: yellow;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.cover {
  height: 280px;
  width: 100%;
  opacity: 0.8;
  background-image: url('/cover2.png');
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 50px;
  transform: translateY(-3px);

  z-index: 1;
}

.icon {
  width: 45px;
  height: 45px;
  background-image: url('/icon.png');
}

.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #212121;
  z-index: 2;

  display: flex;
  align-items: center;
  padding-left: 15px;
}

.mini-bar {
  min-height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  transform: translateY(-5px);
  flex-wrap: wrap;
}

.page {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.order-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}

.status-legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-primary-enter {
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

.single-shipment {
  width: fit-content;
  align-self: center;
}

.footer {
  width: 100%;
  height: 120px;
}

.not-found-message {
  text-align: center;
}