* {
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightgray;
  font-size: 1rem;
  padding-left: 1rem;
  color: black;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.status-color-tag-active {
  height: 100%;
  width: 10%;
  background-color: cornflowerblue;
}

.status-color-tag-completed {
  height: 100%;
  width: 10%;
  background-color: lightgreen;
}

.status-color-tag-new {
  height: 100%;
  width: 10%;
  background-color: yellow;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

